.login-main-div {
  display: flex;
  justify-content: center;
}
.login-your-account-login-div {
  text-align: center;
  color: white;
}
.login-input-div {
  display: flex;
  background-color: rgba(30, 30, 30, 255);
  flex-direction: column;
  gap: 5px;
}
.login-input-page {
  padding: 12px 1px;
  border-radius: 10px;
  width: 90%;
}
.login-page {
  background-color: rgba(30, 30, 30, 255);
  width: 100%;
}
/* .login-signed-div{
    color:white;
} */
.login-account-div {
  text-align: center;
  margin-top: 56px;
  margin-bottom: 20px;
}
.login-account-button {
  width: 90%;
  height: 50px;
  background-color: #bca681;
  padding: 10px 10px;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 7px;
}
.login-last-div {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.login-last-button {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}
.login-dont-div {
  display: flex;
  justify-content: center;
  color: white;
}
.login-hr-div {
  width: 123px;
}
.login-or-sign-in-with {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  color: white;
}
.login-hr-or-sign-in-with-Parent {
  display: flex;
}
.cutnova-logo {
  width: 125px;
  margin-top: -21px;
}
.login-last-logo {
  width: 20px;
}
.login-last-button {
  display: flex;
  background-color: white;
  gap: 15px;
  padding: 10px 18px;
  border-radius: 10px;
}

.login-last-div {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px 0px;
}
.Forgot-Password-div{
    color: white;
    text-align: end;
}
