.sign-up-main-div{
    display: flex;
    justify-content: center; 
}
.create-your-account-signup-div{
    text-align: center;
    color: white; 
}
.signup-input-div{
    display: flex;
    background-color:rgba(30,30,30,255);
    flex-direction: column;
    gap: 5px;
    
}
.signup-input-page{
    padding: 10px 20px;
    border-radius: 10px;
    width: 80%;

}
.sign-up-page{
    background-color:rgba(30,30,30,255) ;
}
.signup-signed-div{
    color:white;
}
.signup-create-account-div{
    text-align: center;
    margin-top: 56px;
    margin-bottom: 20px;
}
.signup-create-account-button{
    width: 90%;
    height: 50px;
    background-color: #bca681;
    padding: 10px 10px;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 7px
}
.signup-last-div{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.signup-last-button{
padding: 10px;
border-radius: 10px;
width: 100px;
}
.signup-already-div{
    display: flex;
    justify-content: center;
    color: white;  
}